<!-- From internet -->
<section class="is-fullheight">
  <div class="header">
    <div class="sides">
      <a href="#" class="logo">ALGIT</a>
    </div>
    <div class="sides"> </div>
    <div class="info">
        <h1><strong>ALGIT</strong> leder er organisation genom den
        <strong>digitala</strong> resan</h1>

    </div>
  </div>
</section>

<!-- <app-areas></app-areas> -->
  <!-- Hero footer: will stick at the bottom -->
<!-- Tiles
<section class="hero bg-color is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="tile is-ancestor notification is-dark has-text-centered">
          <div class="tile is-parent is-4">
            <article class="tile is-child notification is-dark">
              <figure class="image is-128x128 dark-image has-image-centered">
                <img class="is-rounded" src="/assets/images/notesBW.jpg">
              </figure>
              <p class="title">Effektivisering</p>
              <div class="content">
                <p>Vi är experter på att se innovativa lösningar. Genom att modernisera era affärsprocesser kan vi med hjälp av
                  de senaste teknikerna effektivisera er verksamhet.</p>
              </div>
            </article>
          </div>
          <div class="tile is-parent is-4">
            <article class="tile is-child notification is-dark">
              <figure class="image is-128x128 dark-image has-image-centered">
                <img class="is-rounded" src="/assets/images/flowerBW.jpg">
              </figure>
              <p class="title">UX</p>
              <div class="content">
                <p>Idag förväntar sig kunder att hemsidor och andra digitala medier är användarvänliga.
                  Oavsett om ni är ute efter en liten touch up eller ett fullständigt grafiskt koncept, kan vi hjälpa er.</p>
              </div>
            </article>
          </div>
          <div class="tile is-parent is-4">
            <article class="tile is-child notification is-dark">
              <figure class="image is-128x128 dark-image has-image-centered">
                <img class="is-rounded" src="/assets/images/handsBW.jpg">
              </figure>
              <p class="title">Utveckling</p>
              <div class="content">
                <p>Genom att kombinera egen kod och de senaste ramverken kan vi utveckla moderna appar till både webben och
                  surfplattan.</p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section> -->

<!-- Footer -->
<footer class="footer">
  <div class="has-text-centered">
    <!-- <hr> -->
    <p>
      info@algit.se
    </p>
    <p>Göteborg</p>
  </div>
</footer>
