.hero {
    background: url("/assets/images/header.jpg") !important;
}

.nav-buttons {
    margin-right: 89px;
}

.nav-button {
    padding-right: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: normal;
    text-align: center;

    color: #FFFFFF;
}