<!-- Hero Header -->
<section class="hero is-info is-fullheight">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a href="http://www.algit.se" class="navbar-item navbar-title is-uppercase">algit</a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end is-uppercase">
            <a class="navbar-item navbar-subitem">
              Om oss
            </a>
            <a class="navbar-item navbar-subitem">
              FAQ
            </a>
            <a class="navbar-item navbar-subitem">
              Kontakt
            </a>
            <a class="navbar-item navbar-subitem">
              Projekt
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="is-size-2 is-uppercase">
        <strong>ALGIT</strong> leder er organisation genom den <strong>digitala</strong> resan
      </p>
    </div>
</div>
  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
  </div>
</section>
  
<!-- Tiles -->
<div class="tile is-ancestor notification is-dark has-text-centered">
  <div class="tile is-parent is-4">
    <article class="tile is-child notification is-dark">
      <figure class="image is-128x128 dark-image has-image-centered">
        <img class="is-rounded" src="/assets/images/notesBW.jpg">
      </figure>
      <p class="title">Effektivisering</p>
      <div class="content">
        <p>Vi är experter på att se innovativa lösningar. Genom att modernisera era affärsprocesser kan vi med hjälp av
          de senaste teknikerna effektivisera er verksamhet.</p>
      </div>
    </article>
  </div>
  <div class="tile is-parent is-4">
    <article class="tile is-child notification is-dark">
      <figure class="image is-128x128 dark-image has-image-centered">
        <img class="is-rounded" src="/assets/images/flowerBW.jpg">
      </figure>
      <p class="title">UX</p>
      <div class="content">
        <p>Idag förväntar sig kunder att hemsidor och andra digitala medier är användarvänliga.
          Oavsett om ni ute efter en liten touch up eller ett fullständigt grafiskt koncept, kan vi hjälpa er.</p>
      </div>
    </article>
  </div>
  <div class="tile is-parent is-4">
    <article class="tile is-child notification is-dark">
      <figure class="image is-128x128 dark-image has-image-centered">
        <img class="is-rounded" src="/assets/images/handsBW.jpg">
      </figure>
      <p class="title">Utveckling</p>
      <div class="content">
        <p>Genom att kombinera egen kod och de senaste ramverken kan vi utveckla moderna appar till både webben och
          surfplattan.</p>
      </div>
    </article>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="content has-text-centered footer-text">
    <p>
      <strong>info@algit.se</strong>
    </p>
    <p><strong>Göteborg</strong></p>
  </div>
</footer>