.hero.is-info {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("/assets/images/header.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-title {
  font-weight: 400;
}

.navbar-title {
  font-size: 60px !important;
}

.navbar-subitem {
  font-size: 30px !important;
}

.navbar-subitem:hover {
  background-color: black!important;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.navbar-title:hover {
  background-color: black!important;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.footer {
  padding: 10px;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; 
}