<!-- Hero Header -->
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <div class="carousel">
        <nav class="level">
          <!-- Left side -->
        <div class="navbar-brand">
          <a class="navbar-item" href="http://algit.se">
            <p class="level-item is-uppercase algit-title">ALGIT</p>
          </a>     
        </div>

          <!-- Right side -->
          <div class="level-right nav-buttons">
            <p class="level-item is-uppercase nav-button">Om oss</p>
            <p class="level-item is-uppercase nav-button">FAQ</p>
            <p class="level-item is-uppercase nav-button">Kontakt</p>
            <p class="level-item is-uppercase nav-button">Projekt</p>
          </div>
        </nav>
        <body>
          <section class="section">
            <div class="container">
              <div class="heading">
                <h2 class="subtitle carousel-text has-text-centered">
                  Via en härlig mix av studenter och branchexperter kan <strong>ALGIT</strong> leda eran organisation genom den <strong>digitala</strong> resan
                </h2> 
              </div>
            </div>
          </section>
        </body>
      </div>
    </div>
  </div>
</section>

<!-- Hero Dark -->
<section class="hero is-dark is-large">
  <div class="hero-head">
    <div class="container">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <figure class="image is-128x128 dark-image">
              <img class="is-rounded" src="/assets/images/notesBW.jpg">
              <p class="heading has-text-weight-bold">Effektivisering</p>
              <p>Vi är experter på att se innovativa lösningar. Genom att modernisera era affärsprocesser kan vi med hjälp av digitala medier effektivesera er verksamhet.</p>
            </figure>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <figure class="image is-128x128 dark-image">
              <img class="is-rounded" src="/assets/images/handsBW.jpg">
              <p class="heading has-text-weight-bold">UX</p>
              <p>Idag förväntar sig kunder att hemsidor och andra digitala medier är användarvänliga. 
                 Oavsett om ni ute efter en liten touch up eller ett fullständigt grafiskt koncept, kan vi hjälpa er.</p>
            </figure>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <figure class="image is-128x128 dark-image">
              <img class="is-rounded" src="/assets/images/flowerBW.jpg">
              <p class="heading has-text-weight-bold">Utveckling</p>
              <p>Genom att kombinera egen kod och de senaste ramverken kan vi utveckla moderna appar till både webben och surfplattan.</p>
            </figure>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="hero-body">
  </div>
</section>

<!-- Footer -->
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>info@algit.se</strong>
    </p>
  </div>
</footer>