<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns has-text-centered">
        <div class="column">
          <fa-icon [icon]="faLayerGroup" size="8x"></fa-icon>
          <br>
          <br>
          Systemutveckling
        </div>
        <div class="column">
          <div>
            <fa-icon [icon]="faPalette" size="8x"></fa-icon>
            <br>
            <br>
            Digital design
          </div>
        </div>
        <div class="column">
          <fa-icon [icon]="faMobileAlt" size="8x"></fa-icon>
          <br>
          <br>
          Apputveckling
        </div>
      </div>
    </div>
  </div>
</section>